body {
	margin: 0;
	padding: 0;
	border: 0;
	font:12px/180% Arial, Helvetica, sans-serif, "新宋体";
}
.container-fluid {
	width:100%;
	height:45px;
	position:relative;
	overflow:hidden;
}
div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0;
	padding: 0;
	border: 0;
	font-family:Microsoft YaHei, ​Arial, ​sans-serif;
}
.index {
	position:absolute;
	top:0px;
	z-index:-1;
}
a, img {
	border:0;
	text-decoration:none;
}
#r2 {
	top:20px;
	width:150px;
	position:absolute;
	right:30px;
	float:right;
	z-index:1045;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, code, em, font, img,  small, strong, ol, ul, li,fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body{
	margin:0; padding:0;
	color:#4d4b4b;
	background: #d8d9d0 url(images/paperbg.jpg) top center fixed ;
	font-family: Georgia, sans-serif;
	font-size:14px;	
	line-height:140%;
}

p{	
	margin-bottom:15px;line-height:130%;
}


h1, h2{padding:5px 0 22px 0;}

h1{font-size: 28px;}

h2{font-size: 23px;}

.tag{font-family:Helvetica, Arial, san-serif;
font-size: 52px;
font-style:uppercase;
font-weight:bold;}

#container{
	width:960px;
	margin:0px auto;
	padding-top:50px;
	background: url(ww_top.jpg) no-repeat left top;
	text-align:center;
	height:200px;
}

.intro_text{
	font-size:18px;	
	margin-top:22px;
	margin-bottom:20px;
	
}

.countdown h4{
	font-weight:400;
	font-size:12px;
	color:#848282;
}
	
.countdown #counter{
	font-size:22px;
	color:#1e1a19;	
	margin-bottom:70px;
}

.status{
	font-size:18px;	
	margin-bottom:30px;
	margin:0 135px;
	text-align:center;
	margin-bottom:35px;
}
	
.twitter{	
	text-align:left;
	background:url(images/twitterbg_paper.png) center no-repeat;
	height:95px;
}

#tweet{
	width:590px;
	padding:20px 0 0 220px;
	text-align:left;
	color:#263f01;
}
	
	
#tweet a{
	color:#cc5630;
	text-decoration:none;
}

#tweet a:hover{
	border-bottom:1px solid #cc5630;
}

#tweet ul{
	list-style:none;
	margin:0;padding:0;
}

#tweet li{
	display:inline;
}

#info{
	text-align:right;
	font-size:12px;
	color:#848282;
}
