
body { margin: 0; padding: 0; border: 0; font:12px/180% Arial, Helvetica, sans-serif, "新宋体"; }

a, img { border:0; text-decoration:none; }

#r2 { top:20px; width:150px; position:absolute; right:30px; float:right; z-index:1045; }

*, h2, h3 { font-family: 微软雅黑; }

.footer a { color: inherit; text-decoration: none; }

.footer a:hover { text-decoration: none; }

a:focus { text-decoration: none; }

.container { margin: 0 auto; }

.horizental-item { float: left; }

html { height: 100%; }

body { height: 100%; }

#pass-phoenix-list-login { width:224px; }

.pass-login-pop-img, .pass-login-pop-img img { height: 362px !important; }

#ad { width: 100%; height: 0; }

.full_height { height: 100%; min-height: 850px; }

.page { height: 100%; }

#main { height: 100%; }

#page_home #main { background:url('../images/beij.jpg') no-repeat top center; }

#splash { min-width: 960px; height: 100%; }

.splash-container { top:120px; text-align: center; position: relative; }

.qrcode { margin-top: 5px; height: 90px; width: 90px; }

#qrcode_hint { font-size: 14px; color: rgba(255, 255, 255, 0.5); margin-left: 2px; margin-top: 5px; }

.download-button { display: block; text-align: center; cursor: pointer; }

#download_icon { width: 31px; height: 31px; background:url('../images/download-icon.png') no-repeat; margin-top: 5px; display: inline-block; position: relative; top: 15px; }

#splash_introduction { text-align: center; font-size: 20px; line-height: 31px; color: rgb(255, 255, 255); }

#splash_download_qrcode { left: 10px; position: relative; height: 110px; width: 200px; z-index: 0; text-align: left; }

 #splash_introduction { margin-top: 25px; text-shadow: 2px 2px 2px rgb(235, 125, 39); }

 #download_btn_group { margin: 0 auto; margin-top: 60px; width: 760px; }

#splash_download_button { position: relative; z-index: 1; }

 #download_place_holder { width: 200px; height: 1px; }

#page_home #ct_link { margin-top: 30px; color: white; }

#page_home a { color: rgb(255, 246, 0); }

 #splash_introduction { margin-top: 25px; text-shadow: 2px 2px 2px rgb(235, 125, 39); }

 #download_btn_group { margin: 0 auto; margin-top: 60px; width: 760px; }

 #splash_download_button { position: relative; z-index: 1; }

 #download_place_holder { width: 200px; height: 1px; }

.download-button { width: 800px; height: 700px; }

 .download-button .download-title { background-color: rgb(255, 255, 255, 0.8); padding-top: 10px; font-size: 28px; line-height: 74px; font-weight: bold; color: rgb(72, 83, 66); border-radius: 2px 2px 0 0; }
.download-button .download-subtitle { border:0px; border-top: 1px rgb(226, 117, 33); border-style: solid; background-color: rgb(255, 255, 255, 0.8); font-size: 11px; line-height: 31px; color: rgb(196, 110, 28); border-radius: 0 0 2px 2px; }

.footer { position: absolute; top: 80px; text-align: center; width: 100%; height: 120px; }

#dash { margin: 0 auto; height: 2px; width: 800px; background: url('../images/dot.png'); position: relative; top: 25px; }

#progress { margin: 0 auto; height: 2px; width: 150px; left: -325px; background: white; position: relative; top: 23px; }

#navbtns { width: 800px; position: relative; z-index: 1; }

.navbtn { width: 100px; float: left; margin-left: 25px; margin-right: 25px; text-align: center; display: inline-block; line-height: 50px; color: white; }

.navbtn a:hover { color: white; }

.navbtn img { width: 50px; }

#page_intro { background:url(../images/bjwh.jpg) }

#page_gift { background:url(../images/bjls.jpg) }

#page_gift #splash_introduction { margin-top: 100px; }

#page_feedback { background:#191919; }

#page_feedback  .section { margin-top: 100px; }

#page_related #main { background:url(../images/bjxd.jpg) no-repeat top center; }

#page_related .splash-container { width: 900px; position: relative; left: 50px; }

#page_related .download-button { width: 260px; height: 60px; background-color: rgb(255, 255, 255); border-radius: 2px 2px 2px 2px; }

#page_related .download-button .download-title { margin: 0 auto; padding-top: 20px; font-size: 20px; color: rgb(134, 196, 87); }

#page_related #related_demo { }

#page_related #splash_introduction { margin-top: 50px; margin-left: 50px; width: 500px; text-align: left; padding-left: 15px; font-size: 14px; line-height: 20px; }

#page_related #splash_introduction .container { padding-left: 0px; margin-bottom: 30px; }

#page_related #splash_introduction h3 { margin-left: 10px; }

#page_related #download_btn_group { margin-top: 30px; }

#page_related #splash_download_button { position: relative; z-index: 1; }

#page_related .download-button { width: 320px; height: 100px; }

#page_related .download-button:hover { }

#page_related .download-button:active { }

#page_related .download-button:hover .download-title { background-color: rgb(243, 218, 221); }

#page_related .download-button:hover .download-subtitle { background-color: rgb(243, 218, 221); }

#page_related .download-button .download-title { background-color: rgb(255, 255, 255); padding-top: 10px; font-size: 28px; line-height: 74px; font-weight: bold; color: rgb(72, 83, 66); border-radius: 2px 2px 0 0; }

#page_related .download-button .download-subtitle { border:0px; border-top: 1px rgb(211, 59, 68); border-style: solid; background-color: rgb(255, 255, 255); font-size: 11px; line-height: 31px; color: rgb(211, 59, 68); border-radius: 0 0 2px 2px; }

#page_related a { color: rgb(255, 245, 139); }

#declaration { margin-top:50px; color: rgba(255, 255, 255, 0.5); }
.more { float:right; color:#FFF; font-size:16px; }
